<h3>
  {{title}}
</h3>
<div>
    <p-dropdown [options]="types" [(ngModel)]="selectedType"></p-dropdown>
    <input type="text" name="searchEntity" #val pInputText (value)="myValue" myAutofocus
    (window:keypress)="dialog.onOpenDlg($event, val.value, selectedType)" maxlength=15/>
</div>
<p-dataTable [value]="entities"  [editable]="true"
        [(selection)]="selectedRow"
        [rowHover]="true"
        dataKey="fullName"
        (onRowClick)="onRowClick($event)"
        (onEditInit)="onEditInit($event)"
        (onEdit)="onEdit($event)">
        <p-column styleClass="col-button"  [style]="{'width':'50px'}">
            <ng-template pTemplate="header">
                <button type="button" pButton  icon="fa-plus" (click)="addRow()"></button>
            </ng-template>
            <ng-template let-ri="rowIndex" let-myRow="rowData" pTemplate="body">
                <button type="button" pButton (click)="deleteRow(myRow, ri)"
                 class="ui-button-danger" icon="fa-trash">
                </button>
            </ng-template>
        </p-column>
        <p-column styleClass="col-button"  [style]="{'width':'50px'}" >
            <ng-template pTemplate="item" let-ri="rowIndex" let-rd="rowData">
                <p-radioButton name="groupname" (onClick)="onRowEdit(ri, rd)" ></p-radioButton>
            </ng-template>
        </p-column>
        <p-column header="No">
            <ng-template let-ri="rowIndex" pTemplate="item">{{ri+1}}</ng-template>
        </p-column> 
        <p-column field="ent_id" header="ID"></p-column>
        <p-column field="ent_nom" header="Nom №"></p-column> 
        <p-column field="ent_name" header="NAME Entity"></p-column>
        <p-column field="" header="age"  [editable]="true"></p-column>         
</p-dataTable>

<search-entity-dlg #dialog (myEvent)="onGetItem($event)"></search-entity-dlg>