.binder {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
}
.ui-g {
    height: 1.9em;
    align-items: center;
}
tr.items2 {
    padding: 0em;
    overflow: hidden;
    overflow-y: scroll;
    overflow-x: scroll;
    text-align: left;
    white-space: nowrap;
}
tr.items2:hover {
    background-color: #DDD;
}
tr.items2 {
    cursor: pointer;
    position: relative;
    left: 0;
}
tr.items2.selected {
    background-color: #56C8FF;
}

.scrollingtable {
    overflow: auto; /*scroll*/
    height: 15em;
/*  position:relative;
    height:10em;  
    overflow:auto;*/
}
.scrollingtable * {
    box-sizing: border-box;
}