<p-dialog header="Found list items" [(visible)]="displayDialog" modal="true">
    <div class="ui-dialog-content">
        <ul class="items" (window:keydown)="keydown($event)">
            <li *ngFor="let entity of entities; let i=index, let last=last" (click)="onSelect(person, i)"
                    [class.selected]="person === selectedPerson">
                    {{entity.ent_id}} - {{entity.ent_nom}} - {{entity.ent_name}} - {{i}}
            </li>
        </ul>
    </div>

    <p-footer>
        <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
            <button type="button" pButton icon="fa-close" (click)="displayDialog=false" label="No"></button>
            <button type="button" pButton icon="fa-check" 
                (click)="displayDialog=false" label="Yes" (click)="ClickOk()">
            </button>
        </div>
    </p-footer>
</p-dialog>