/* You can add global styles to this file, and also import other style files */
.items {
    list-style-type: none;
    padding: 0em;
    height: 300px;
    overflow: hidden;
    overflow-y: scroll;
    overflow-x: scroll;
    text-align: left;
    white-space: nowrap;
}
.items li {
    cursor: pointer;
    position: relative;
    left: 0;
}
.items li:hover {
    background-color: #DDD;
}
.items li.selected {
    background-color: #56C8FF;
}

.ui-dialog.ui-widget .ui-dialog-content {
    padding: 0em 0.5em;
}

